/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "reset";
 @import "font-awesome-sprockets";
 @import "font-awesome";

.contents{
  background-color: rgb(240, 240, 240);
  height: calc(100vh - 100px);
  width: 100vw;
  padding-top: 30px;
  .content{
    align-content: center;
    width: 80%;
    height: 80px;
    background-color: white;
    margin: 0 auto 0 auto;
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
    .content :hover{
      background-color: rgb(153, 153, 153);
    }

    .date{
      color: gray;
    }
    .title{
      font-size: 20px;
      margin-top: 10px;
    }
    .details{
      margin-top: 10px;
      color: gray;
    }
  }
}

 .pagination, li, a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination{
  width: max-content;
  margin: 20px auto;
  span{
    margin-right: 15px;
    a:hover{
    background: #93c9ff;     /*背景の色を変える*/
    }
  }
}

