/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "reset";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }


.contents{
  background-color: rgb(240, 240, 240);
  min-height: 100vh;
  height: calc(100% - 100px);
  width: 100vw;
  padding-top: 30px;
  padding-bottom: 15px;
  .content{
    align-content: center;
    width: 80%;
    height: 80px;
    background-color: white;
    margin: 0 auto 0 auto;
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
    .content :hover{
      background-color: rgb(153, 153, 153);
    }

    .date{
      color: gray;
    }
    .title{
      font-size: 20px;
      margin-top: 10px;
    }
    .details{
      margin-top: 10px;
      color: gray;
    }
  }
}

 .pagination, li, a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination{
  width: max-content;
  margin: 20px auto;
  span{
    margin-right: 15px;
    a:hover{
    background: #93c9ff;     /*背景の色を変える*/
    }
  }
}

