// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a{
  text-decoration: none;
  color: dimgrey;
}

.user__header{
  height: 100px;
  width: 100vw;
  background-color: #a8a8a8;
  display: flex;
  text-align: center;
  line-height: 100px;
  justify-content: space-between;
  .user__name{
    font-size: 25px;
    width: 150px;
  }
  .icons{
    width: 100px;
    margin-right: 20px;
    a{
    font-size: 20px;
    margin-right: 10px;
    }
  }
}
